* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body { min-height: 100vh; }

.app-wrapper {
  display: grid;
  height: 100vh; 
  grid-template-areas:
  "h h"
  "n mc";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app_wrapper__content {
  grid-area: mc;
  display: grid;
  grid-template-areas: "desc" "my_posts";
  background-color: #f9f4e6;
}