.all_items {
    display: grid;
    margin-top: 20px;
    grid-template-areas: "i-b a-d";
    grid-auto-columns: 1fr 4fr;
    padding-bottom: 10px;
    grid-auto-rows: 175px;
    margin-left: 5%;
    gap: 10px;
}

.img_button{
    grid-area: i-b;
    width: 8%;
    justify-self: self-end;
}

.img_button img{
    height: 140px;
    width: 140px;
}

.all_description{
    grid-area: a-d;
    color: aliceblue;
    background-color: #282c34;
    border-radius: 10px;
    justify-self: auto;
    max-width: 750px;
    margin-left: 10%;
}